<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand">Thanos OLE !</span>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <button (click)="showThird = !showThird">Toggle Third</button>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <app-first></app-first>
    </div>
    <div class="col-4">
      <app-second></app-second>
    </div>
    <div class="col-4" *ngIf="showThird">
      <app-third></app-third>
    </div>
  </div>
</div>
